a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

body {
  font-size: 1rem;
  font-weight: 400;
}

.global-u-text-left {
  text-align: left;
}

.global-u-text-right {
  text-align: right;
}

.global-u-text-center {
  text-align: center;
}
